body {
    background: linear-gradient(to right, #ff8c00, #ff2d55);
}

button {
    background:wheat;
    color:black;
    font-family:cursive;
    height: 70px;
    width: 250px;
    font-size: larger;
    cursor: pointer;
    border-right: 10px solid white;
    border-left: 10px solid white;
    margin-bottom: 30px;
    margin-top: 10px;
    border-radius: 5px;
    border-top: none;
    border-bottom: none;
}

button:hover {
    height: 72px;
    width: 255px;
    background: linear-gradient(to right, #ff2d55, #ff8c00);
    font-size: x-large;
    border-right: 10px solid black;
    border-left: 10px solid black;
}

.title_name {
    margin-bottom: 10px;
    color: black;
    font-family: cursive;
    font-size: x-large;
}

img{
    border: 7px solid white;
    border-radius: 5%;
    height: 430px;
    width: 380px;
    padding: 5px;
    background-color: white;
}

img:hover {
    border: 7px solid black;
}

.meme_creator {
    color:white;
    font-family: cursive;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}